body {
    background-color: #679ff7;
     font-family: Arial, Helvetica, sans-serif;

}

nav {
    background-color:lemonchiffon;
}


section.flexBox{ 
background-color:orange;
display:flex;
}

figure {flex:1;
 background-color:aqua;

}

figure#aquarium { flex:3;

}

img { width: 80%;}



section.flex {
    
    display:flex;
    background-color:green;
    
    
}

figure.photo {
    
    background-color:lemonchiffon;
    flex:1
}

figure.widephoto { 

background-color:aqua;
margin:auto;
flex:3
}


img#llama {
    width:50vw;
    max-width:800px;
    
}




h1 {font-size:4em; }

h2 {font-size:1.5em;}


p {
    background: yellow;
    padding: 2em;
    margin-left: 5em;
    line-height: 1.5em;
}

ul {
    background: lavender;
    
}

nav ul.list {
    background: white;
}

section.resume {
    background:#FFE4C4;
    line-height:1.5em;

}

div.education {
        margin-left:5em;
    
}
/* Dr. B:  My simple styling for the Text Analysis section from class on 6 November 2025 */
 /* This is designed to help make the images expand a bit so the text inside them is more legible. */
section.analysis { width: 100%;}

figure.screenCap { width:100vw}


