body {
    background-color:#e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
   padding-left:2vw;
   padding-right:2vw;

}

nav {
    background-color:lemonchiffon;
    width:100vw;;
    margin:auto;
    display:flex;
    background-color:bisque;
}
nav ul {
    list-style-type:none;
    margin-left:10vw;
    margin-right:10vw;
    width:50vw;
    
    

}
nav ul li {
   float:left;

}
nav li a {
  font-weight:600;
  display: block;
  padding: 1em;
  
}


section.flexBox{ 
background-color:orange;
display:flex;
}

figure {flex:1;
 background-color:aqua;

}

figure#aquarium { flex:3;

}




section.flex {
    
    display:flex;
    background-color:green;
    
    
}

figure.photo {
    
    background-color:lemonchiffon;
    flex:1
}

figure.widephoto { 

background-color:aqua;
margin:auto;
flex:3
}


img#llama {
    width:50vw;
    max-width:800px;
    
}




h1 {font-size:3em; }

h2 {font-size:1.5em;}


p {
    padding: 2em;
    margin-left: 5em;
    line-height: 1.5em;
}

ul {
    background: lavender;
    
}

nav ul.list {
    background: white;
}

section.resume {
    background:#FFE4C4;
    line-height:1.5em;

}

div.education {
        margin-left:5em;
    
}
/* Dr. B:  My simple styling for the Text Analysis section from class on 6 November 2025 */
 /* This is designed to help make the images expand a bit so the text inside them is more legible. */
section.analysis { width: 100%;
display:flex;
justify-content:space-evenly;
}

figure.voyant { flex:2;
}

figure.antconc {flex:5;}

p.text {flex:1; 
}

img.ta {width:100%;
}

img.ant {width:100%;}

img.ant:hover {
    transform: scale(1.2); 
    
}
footer.flex{display:flex;}
div.bannerImage img {width:100%; max-width:100px;}

p.license {background-color:silver;}















